/* Footer */

footer{
    background: rgb(6,240,163);
    background: linear-gradient(130deg, rgba(6,240,163,1) 0%, rgba(3,226,209,1) 42%, rgba(0,129,255,1) 100%);
    .row{
        align-items: center;
    }
    ul{
        list-style: none;
    }
}